


@media all and (max-width: 360px) {

  #logo {
    margin-left: 27%;
    margin-bottom: 2%;

  }

  .nav-list {
    margin-top: 5%;
    margin-left: -7%;
  }

  .nav-items {
    margin-left: 40px;
    font-size: 0.7rem;
  }

  .nav-btn {
    margin-left: 31%;
    font-size: 0.9em;
    margin-top: 7%;

  }

  .rectangle {
    top: 10%;
    left: 8%
  }

  .p1 {
    font-size: 1rem;
    left: 27%;
    top: 22%;

  }

  .head-title {
    left: 13%;
    top: 37%;
    font-size: 0.9rem;
  }

  .head-title2 {
    left: 28%;
    top: 44%;
    font-size: 0.9rem;
  }

  .p2 {
    left: 10%;
    font-size: 0.7rem;
    top: 66%;

  }

  .line {
    width: 200px;
    height: 47px;
    left: 20%;
    top: 44%;
  }

  .head-btn {
    top: 75%;
    left: 32%;
    width: 130px;
  }

  .togglebtn {
    margin-top: 3.3%;
    margin-left: 9%;
  }

  .sidenav {
    display: none;
  }
  
  .p3 {
    margin-left: 34%;
  }

  .body-img{
    margin-left: 5%;
  }

  .side-text {
    margin-left: 6%;
  }
  .body-btn {
    margin-left: 16%;
    
  }
  .p5 {
    margin-left: 30%;
  }
  .quick-links {
    margin-top: -6%;
  }
  .upto-date {
    margin-top: 40%
  }
  .last-foot {
    margin-top: 74%;

  }
}


@media all and (min-width: 500px) {

  #logo {
    margin-left: 113%;
    margin-bottom: 2%;

  }

  .nav-list {
    margin-top: 5%;
    margin-left: 11%;
  }

  .nav-items {
    margin-left: 40px;
    font-size: 1rem;
  }

  .togglebtn {
    margin-top: 4.4%;
    margin-left: 12%;

  }


  .nav-btn {
    margin-left: 31%;
    font-size: 0.9em;
    margin-top: 7%;

  }

  .rectangle {
    top: 10%;
    left: 8%;
    height: 80%;
  }

  .p1 {
    font-size: 1.2rem;
    left: 31%;
    top: 22%;

  }

  .head-title {
    left: 15%;
    top: 37%;
    font-size: 1.3rem;
  }

  .head-title2 {
    left: 28%;
    top: 44%;
    font-size: 1.3rem;
  }

  .p2 {
    left: 16%;
    font-size: 1rem;
    top: 66%;
  }

  .line {
    width: 250px;
    height: 47px;
    left: 26%;
    top: 44%;
  }

  .head-btn {
    top: 85%;
    left: 38%;

  }
  .p3 {
    margin-left: 40%;
    font-size: 1.2rem;
  }
  .story-section {
    display: flex;
    flex-wrap: wrap;
  }

  .body-img{
    width: 420px;
    margin-left: 9%;
  }

  .side-text {
    margin-left: 6%;
  }

  .body-btn {
    margin-left: 31%; 
  }

  .p5 {
    margin-left: 38%;
  }

  .rec {
    margin-left: -63%;
  }

  .icon {
    margin-left: 27%;
  }
  .rec2 {
    left: 36%;
  }
  .p6a {
    margin-left: 24%;
  }
  .rec3 {
    left: 68%;
  }
  .p6b {
    margin-left: 14%;
  }
  .quick-links {
    margin-top: -4%;
  }

  .p8, .p8a, .p8b, .p9c {
    font-size: 0.875rem;
  }

  .foot-link {
    margin-top: 10%;
    font-size: 0.875rem;
  }

  .contact, .policy {
    margin-top: 4%;
  }

  .p9 {
    margin-top: 8%;
    font-size: 0.875rem;
  }
  .p9a {
    margin-top: 7%;
    font-size: 0.875rem;
  }
  .upto-date {
    margin-top: 36%;
  }

  .p10 {
    font-size: 1.1rem;
  }

  .last-foot {
    margin-top: 59%;
    margin-left: 33%;
  }
  .p11, .p12{  
    font-size: 0.675rem;  
  }
}

@media all and (min-width: 700px) {

  #logo {
    margin-left: 30%;
    height: 29px;
  }

  .nav-list {
    margin-top: 1%;
    margin-left: 11%;
  }

  .nav-items {
    margin-left: 40px;
    font-size: 1.1rem;
  }

  .togglebtn {
    margin-top: 1%;
    margin-left: 5%;

  }
  .nav-btn {
    margin-left: 31%;
    font-size: 0.9em;
    margin-top: 7%;
  }

  .rectangle {
    top: 10%;
    left: 8%;
    height: 80%;
  }

  .p1 {
    font-size: 1.5rem;
    left: 35%;
    top: 22%;
  }

  .head-title {
    left: 13%;
    top: 37%;
    font-size: 2rem;
  }

  .head-title2 {

    left: 28%;
    top: 44%;
    font-size: 2rem;
  }

  .p2 {

    left: 20%;
    font-size: 1.3rem;
    top: 66%;
  }
  .line {
    width: 250px;
    height: 47px;
    left: 35%;
    top: 44%;
  }
  .head-btn {
    top: 85%;
    left: 40%;
    font-size: 1.1rem;

  }
  .sidenav {
    display: none;
  }
  .p3 {
    font-size: 2rem;
  }
  .body-img{
    width: 450px;
    margin-left: 31%;
  }
  .side-text {
    margin-left: 4%;
  }
  .p4 {
    font-size: 1.4rem;
  }

  .body-btn {
    padding: 13px;
    font-size: 1rem;
    width: 190px;
    margin-left: 34%;  
  }
  .p5 {
    margin-left: 34%;
  }

  .icon {
    margin-left: 36%;
  }

  .p6 {
    margin-left: 7%;
  }
  .p6a {
    margin-left: 19%;
  }
  .p6b {
    margin-left: 26%;
  }

  .quick-links {
    margin-top: -2%;
  }

  .p8, .p8a, .p8b, .p9c {
    font-size: 0.875rem;
  }

  .foot-link {
    margin-top: 10%;
    font-size: 0.875rem;
  }

  .contact, .policy {
    margin-top: 4%;
  }

  .p9 {
    margin-top: 8%;
    font-size: 0.875rem;
  }
  .p9a {
    margin-top: 7%;
    font-size: 0.875rem;
  }
  .upto-date {
    margin-top: 36%;
  }

  .p10 {
    font-size: 1.1rem;
  }

  .last-foot {
    margin-top: 54%;
    margin-left: 36%;
  }
  .p11, .p12{  
    font-size: 0.675rem;  
  }

}

@media all and (min-width: 900px) {

  #logo{
    margin-left: 45%;
  }
  .nav-list {
    margin-left: 19%
  }

  .nav-items {
    margin-left: 40px;
    font-size: 1.1rem;
  }

  .togglebtn {
    display: none;

  }

  .nav-btn {
    margin-left: 27%;
    font-size: 0.8em;
    margin-top: 8%;
    min-width: 108%;
    padding: 3%;
  }

  .rectangle {
    top: 10%;
    left: 8%;
    height: 80%;
  }

  .p1 {
    font-size: 1.125rem;
    left: 38%;
    top: 22%;

  }

  .head-title {
    left: 16%;
    top: 37%;
    font-size: 2.4rem;
  }

  .head-title2 {
    left: 29%;
    top: 45%;
    font-size: 2.4rem;
  }

  .p2 {
    left: 22%;
    font-size: 1.2rem;
    top: 69%;
  }

  .line {
    width: 250px;
    height: 47px;
    left: 37%;
    top: 48%;
  }

  .head-btn {
    top: 85%;
    left: 41%;
    font-size: 1.3rem;
    width: 180px;

  }

  .sidenav {
    display: block;

  }
  .side-text{
    margin-left: 57%;
    margin-top: -34%;
    width: 34%;
  }

  .p3 {
    margin-left: 39%;
  }

  .col-6 {
    width: 40%;
  }

  .body-img {
    margin-left: 6%;
  }

  .side-text {
    margin-left: 16%;
    margin-top: 1%;
  }

  .p4 {
    font-size: 1.1rem;
    line-height: 148%;
  }

  .body-btn {
    margin-left: 22%;
  }
  .p5 {
    margin-left: 37%;
  }

  .rec {
    height: 249px;
    width: 21%;
    margin-left: -56%;
    margin-bottom: 21%;
  }

  .p7 {

    display: block;
    margin-top: 15%;
    min-width: 102%;
    color: #4D4D4D;
    font-size: 0.8rem;
    margin-left: 3%;
  }


  .rec2 {
    left: 39%;
    width: 21%;
    height: 249px;  
  }

  .p7a {
    display: block;
    min-width: 102%;
    color: #4D4D4D;
    font-size: 0.8rem;
    margin-left: 3%;
    margin-top: 27%;

  }
  .p6a {
    margin-left: 12%;

  }

  .rec3 {
    left: 66%;
    width: 21%;
    height: 249px;
  }
  .p6b {
    margin-left: 21%;
  }

  .p7b {
   display: block;
   color: #4D4D4D;
   font-size: 0.8rem;
   margin-left: 12%;
   margin-top: 27%;
   min-width: 100%;

  }

  .quick-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 6%;
  }

  .p8 {
    margin-top: 30%;
    margin-bottom: 10%;
  }

  .foot-link, .p9a, .p9c{
    font-size: 0.775rem;
  }

  .contact {
    margin-top: 1.4%;
    left: 19%;
  }

  .p9 {
    margin-top: 11%;
    font-size: 0.775rem;
  }

  .policy {
    margin-top: 1.4%;
    left: 33%;

  }

  .upto-date {
    margin-top: 1%;
    margin-left: 26%;
  }

  .p10 {
    font-size: 1.2rem;
  }

  .enter {
    min-width: 147%;
    padding: 4%;
  }

  .last-foot {
    margin-top: 19%;

  }

  .p11 {
    font-size: 0.875rem;
    margin-left: -19%;
  }

  .p12 {
    
    font-size: 0.875rem;
  }

}
