* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #F1F0F0;
}

.head-wrap {
  padding: 1px;
}

.navlist {
  display: none;
}

#close {
  display: none;
}

.mobile-navlist {
  display: none;
  padding: 3%;
  margin: 5%;
  position: fixed;
  width: 90%;
  background-color: #Fff;
  border-radius: 36px;
  margin-top: 19%;
  border: 1px solid #F53030;
  box-shadow: 0 2px 24px 0px rgba(198, 198, 198, .3);
}

.mobilenavlist {
  display: grid;
  padding: 1rem;
  z-index: 100;
  justify-items: center;
  grid-gap: 2em;
}

.navlink {
  color: #4D4D4D;
  font-size: 1rem;
}

.nav-btn {
  width: 122%;
  background-color: #F53030;
  color: #fff;
  padding: 10%;
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
}

.navlink:hover {
  color: #F53030;
  transition: 0.3s ease-in-out;

}

#close {
  font-size: 1.6rem;
}

.fa-bars {
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 3%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffff;
  box-shadow: 0 2px 3px 0 rgba(12, 0, 46, .04);
}

.head-body {
  margin-top: 12%;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(./img/img.png);
  background-size: cover;
  text-align: center;
}

.wrap {
  padding: 1px;
}

.p1,
.p2 {
  color: #fff;
  font-size: 0.875rem;
  margin-top: 7%;
  font-weight: 300;
}

.head-title {
  font-size: 1.7rem;
  color: #fff;
  margin-top: 5%;
  line-height: 46px;
}

.line {
  height: 40%;
  width: 40%;
  border-bottom: 1px solid #fff;
  margin-left: 31%;
}

.btn {
  background-color: #F53030;
  color: #fff;
  padding: 2%;
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
}

.head-btn {
  margin-top: 5%;
  width: 39%;
  margin-bottom: 5%;
}

.body-section {
  margin-top: 6%;
}

.text {
  text-align: center;
  font-size: 1.5rem;
  color: #4D4D4D;
}

.story-section {
  display: grid;
  margin-top: 6%;
}

.body-img {
  width: 100%;
}

.story-p {
  color: #4D4D4D;
  font-size: 0.875rem;
  line-height: 22px;
  padding: 3%;
  text-align: justify;

}

.story-btn {
  padding: 11%;
  width: 175%;
}

.story-link {
  justify-self: center;
  margin-left: -17%;
}

.services {
  margin-top: -22%;
}

.service-section {
  margin-top: 5%;
  display: grid;
  text-align: center;
  padding: 3%;
  grid-gap: 1em;
}

.rec {
  background-color: #fff;
  border-bottom: 10px solid #F53030;
  border-radius: 10px 10px 0 0;
  /* box-shadow: 0 2px 3px 0 rgba(12, 0, 46, .04); */
  box-shadow: 0 2px 24px 5px rgba(198, 198, 198, .3);
}

.rec-title {
  margin-top: 5%;
  color: #4D4D4D;
}

.icon {
  margin-top: 5%;
}

.rec-p {
  margin-top: 5%;
  margin-bottom: 4%;
  color: #4D4D4D;
}

.rec2 {
  border-bottom: 10px solid #008C8D;

}

.foot {
  background-color: #008C8D;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.quick-links {
  margin-top: 5%;
  margin-left: 5%;
  grid-column: 1;
  grid-row: 1;
}

.quick-title {
  color: #fff;
  font-size: 1rem;

}

a {
  text-decoration: none;
}

.foot-list {
  display: grid;
  grid-gap: 1em;
  margin-top: 13%;
}

.foot-link {
  color: #fff;
  cursor: pointer;
  font-size: 0.775rem;
}

.contact,
.policy,
.upto-date {
  margin-top: 5%;
}

.policy {
  grid-column: 1/3;
}

.upto-date {
  grid-row: 3;
  grid-column: 1/3;
}

.cont-p {
  color: #fff;
  font-size: 0.775rem;
  margin-top: 5%;
  line-height: 20px;
}

.date-title {
  color: #fff;
  font-size: 1.4rem;
}

.enter {
  padding: 2%;
  width: 100%;
  margin-top: 3%;
}

.subscribe {
  border: 1px solid #fff;
  background-color: #008C8D;
  color: #fff;
  padding: 2%;
  margin-top: 3%;
}

.last-foot {
  margin-top: 5%;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  grid-row: 4;
  grid-column: 1/3;
}

.copy-text {
  color: #fff;
  font-size: 0.675rem;
}

@media all and (min-width:768px) {

  .head-body {
    margin-top: 10%;
  }

  .head-title {
    width: 80%;
    margin-left: 10%;
  }

  .mobile-navlist {
    display: none;
    width: 90%;
    margin-top: 14%;
  }

  .navlink {
    font-size: 1.2rem;
  }

  .service-section {
    grid-gap: 2em;
  }

  .p1,
  .p2,
  .story-p {
    font-size: 1rem;
  }

  .story-btn {
    padding: 15%;
    width: 196%;
  }

  .rec-title {
    font-size: 1.5rem;
  }

  .rec-p {
    font-size: 1.2rem;
    width: 80%;
    margin-left: 10%;
  }

  .quick-title {
    font-size: 1.4rem;
  }

  .foot {
    grid-template-columns: 1fr 1fr;
  }

  .foot-link,
  .cont-p {
    font-size: 1.2rem;
  }

  .last-foot {
    grid-gap: 1em;
    grid-column: 1/3;
  }

  .copy-text {
    font-size: 1rem;
  }
}

@media all and (min-width:1024px) {
  #bar {
    display: none;

  }

  .navbar {
    padding: 2%;
    justify-content: space-around;
  }

  .navlist {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;

  }

  .navlink {
    color: #4D4D4D;
  }

  .navlink:hover {
    color: #F53030;
    transition: 0.3s ease-in-out;

  }

  .head-body {
    margin-top: 0;
  }

  .nav-btn {
    padding: 6%;
    width: 145%;
  }

  .nav-btn:hover,
  .head-btn:hover,
  .story-btn:hover {
    background-color: #fff;
    /* border: 1px solid #F53030; */
    box-shadow: 0 0 0 1px #F53030;
    color: #F53030;
    transition: 0.3s ease-in-out;

  }

  .p1 {
    margin-top: 11%;
  }

  .head-title {
    width: 43%;
    margin-left: 29%;
  }

  .line {
    margin-top: 3%;
  }

  .head-btn {
    width: 24%;
    padding: 1%;
  }

  .story-section {
    grid-template-columns: 1fr 1fr;

  }

  .story-link {
    grid-column: 2;
    margin-top: -28%;
  }

  .service-section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .rec2 {
    grid-row: 1/3;
    grid-column: 2;
    align-self: center;
    height: 47.4%;
  }

  .rec3 {
    grid-column: 3;
  }

  .icon {
    margin-top: 10%;
  }

  .rec-title {
    font-size: 1.2rem;
  }

  .rec-p {
    font-size: 1rem;
    line-height: 25px;
  }

  .foot {
    margin-top: -10%;
    grid-template-columns: 1fr 1fr 1fr 2fr;
  }

  .quick-title {
    font-size: 1rem;
  }

  .quick-links {
    margin-top: 13%;
  }

  .policy {
    grid-column: 3;
    margin-top: 13%;
  }

  .upto-date {
    grid-column: 4;
    grid-row: 1;
  }

  .foot-link,
  .cont-p {
    font-size: 0.875rem;
  }

  .last-foot {
    grid-column: 4;
  }

  .copy-text {
    font-size: 0.675rem;
  }

}